<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All users</title>
    <style>
        table, th, tr,td{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h2>Usrnames for all the user in app :</h2>
    <table>
        <tr>
            <th>user Id</th>
            <th>user name</th>
            <th>user email</th>
            <th>Edit</th>
            <th>Delete</th>

       </tr>
<%   for(usernames of result){  %> 
    <tr>
        <td><%= usernames.id %></td>
        <td><%= usernames.username %></td>
        <td><%= usernames.email %></td>
        <td>
            <!-- edit form -->
            <form method="GET" action="/user/<%=usernames.id%>/edit">
                <button>Edit Username</button>
            </form>
        </td>
        <td>
            <!-- delete form -->
            <form method="GET" action="/user/<%= usernames.id%>/delete">
                <button>delete user</button>
            </form>
        </td>
     </tr>
<% } %>
    </table>
</body>
</html>
